@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
:root {
  height: 100%;
}

@layer base {
  :root {
    --stroke: 0 0% 88%;
    --layout: 225 14% 95%;
    --secondary-dark: 220 1% 47%;
    --secondary-light: 240 1% 74%;
    --secondary: 0 0% 96.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --sidebar-hover: 215 29% 16%;
  }
}

@layer base {
  * {
    @apply border-stroke;
  }

  body {
    @apply bg-white text-black;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-layout rounded;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-secondary-light rounded;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-secondary-dark;
  }
}

.ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  --tw-border-opacity: 1 !important;
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
  box-shadow: none !important;
  outline: 0;
}

.ant-select-selector:hover {
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #000 !important; /* Ganti dengan warna yang Anda inginkan */
  color: white !important; /* Ganti dengan warna teks yang kontras */
}

.ant-upload-drag:hover {
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) !important;
}
.upload-dragger-error .ant-upload-drag {
  border-color: red !important;
}

.ant-list-item-action {
  margin-left: 0px !important;
}
